[submodule "incubator-teaclave-sgx-sdk"]
	path = incubator-teaclave-sgx-sdk
	url = https://github.com/apache/incubator-teaclave-sgx-sdk
[submodule "MIRAI"]
	path = MIRAI
	url = https://github.com/facebookexperimental/MIRAI
