# compiled files
target
/target
*/target
/md_output
platform_sgx/bin
platform_sgx/lib
data_provider/bin

# intermediate results
enclave_u.*
enclave_t.*
Enclave_u.*
Enclave_t.*
*.so
*.o
*.a
.lia.cache
*.log

# MISC
Cargo.lock
.vscode
outlib
*.csv
.config_HW_DEBUG_x64
data_provider/tvl/app

# Coq
*.aux
*.vo*
*.glob
/proof/*Makefile*
