# compiled files
target
/target
*/target
/md_output
platform_sgx/bin
platform_sgx/lib
data_provider/bin

# intermediate results
enclave_u.*
enclave_t.*
*.so
.lia.cache

# MISC
Cargo.lock
.vscode

# Coq
*.aux
*.vo*
*.glob
/proof/*Makefile*
